.not-found-container{
  text-align: center;
  color: teal;
}
.product-pic{
  
  height:350px;
  width:250px;
  object-fit: cover;
}
.product-container{
  
  width:250px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;

}
.product-list{
  display:flex;
  gap:24px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-show-button{
  font-size: 18px;
  margin-bottom: 10px;
}
.add-product-form{
  margin:20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  

}
.not-found-image{
  width: 100%;
  object-fit: cover;
}
body{
  font-family: 'Poppins', sans-serif;
}